{% extends "base.html" %}
{% block body %}

    <main class="section">
        <div class="container">
                <h1 class="title-1">Contacts</h1>

                <ul class="content-list">
                    <li class="content-list__item">
                        <h2 class="title-2">Location</h2>
                        <p>Astana, Kazakhstan</p>
                    </li>
                    <li class="content-list__item">
                        <h2 class="title-2">Telegram / WhatsApp</h2>
                        <p><a href="tel:+77056108145">+7 (705) 610-81-45</a></p>
                    </li>
                    <li class="content-list__item">
                        <h2 class="title-2">Email</h2>
                        <p><a href="mailto:xxlayyy@gmail.com">xxlayyy@gmail.com</a></p>
                    </li>
                </ul>       

        </div>
    </main>

    {% endblock %}
