{% extends "base.html" %}
{% block body %}
    <main class="section">
        <div class="container">
                <h1 class="title-1">Skills</h1>

                <ul class="content-list">
                    <li class="content-list__item">
                        <h2 class="title-2">Frontend</h2>
                        <p>JavaScript, ReactJS, HTML, CSS, BootStrap, StyledComponents</p>
                    </li>
                    <li class="content-list__item">
                        <h2 class="title-2">Backend</h2>
                        <p>MySQL, PostgreSQL, Python, Java</p>
                    </li>
                </ul>

        </div>
    </main>

{% endblock %}